.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    h1 {
      margin: 0;
      padding: 20px;
    }
  }

  section {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .info {
    justify-content: center;
    padding: 20px;
  }
  
  .authorization {
    align-items: center;
    justify-content: center;
    flex: 1;
  
    button {
      border: 1px solid black;
      border-radius: 3px;
      background-color: white;
      padding: 10px;
      cursor: pointer;
      transition: linear 100ms background-color;

      &:hover {
        background-color: darken($color: white, $amount: 5);
      }
    }
  }  

  nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;    

    a {
      &:visited {
        color: unset;
      }

      &:hover {
        color: lighten($color: black, $amount: 25);
      }
    }
  }
}
