* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Major Mono Display', monospace;
  margin: 0;
  padding: 20px;
}

h2, p, ul {
  margin: 0;
  padding: 0;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  transition: linear 100ms background-color;

  &:hover {
    background-color: darken($color: white, $amount: 5);
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;    

  a {
    &:visited {
      color: unset;
    }

    &:hover {
      color: lighten($color: black, $amount: 25);
    }
  }
}
